* {
  box-sizing: border-box;
}

body {
  background-image: url('nll700.png');
  font-family: AppleGothic;
}

.nav {
	font-size: 18px;
	text-align: center;
	padding: 80px;
}

.text {
	text-align: center; 
	padding: 20px
}

img.sticky_right {
	position: fixed;
	right: 0;
	width: 200px;
	height: 120px;
	z-index: 10;
}

img.sticky {
	position: fixed;
	left: 60px;
	top: -20px;
	width:1100px;
	z-index: -1;
}

a {
  color: Black;
}

.center {
  margin: auto;
  width: 70%;
/*  padding: 10px;
*/}